body {
    background-color: #BFFD00;
}

h1 {
    color: #0600FF;
    text-align: center;
    font-size: 50px;
}

.tenor-gif-embed {
  top:0px; 
  max-width:50%; 
  height:50%; 
  background-repeat:no-repeat; 
  background-position:center; 
}